<%-include('navbar.ejs')%>
    <!-- Bootstrap JS Bundle with Popper -->
    <h2 class="mb-4 mt-3 text-center">Edit Shoes Slider</h2>
    <div class="container p-4 shadow text-dark fw-bold">
        <form action="/admin/update_slider" method="post" enctype="multipart/form-data">
            <div class="row g-4 mb-4 ">
                <input type="hidden" name="slider_id" value="<%-result[0].slider_id%>">
                <div class="col-md-5">
                    <label for="slider_title" class="form-label">Slider Title</label>
                    <input type="text" name="slider_title" id="slider_title" class="form-control"
                        placeholder="Enter Slider Title" value="<%-result[0].slider_title%>">
                </div>
                <div class="col-md-5">
                    <label for="slider_image" class="form-label">Upload File</label>
                    <input type="file" name="image" id="slider_image" class="form-control">
                    <img src="/slider/<%-result[0].slider_image%>" width="100px" height="100px">
                </div>
                <div class="col-md-5">
                    <label for="slider_button" class="form-label">Slider Button</label>
                    <input type="text" name="slider_button" id="slider_button" class="form-control"
                        placeholder="Enter Slider button name" value="<%-result[0].slider_button%>">
                </div>
                <div class="col-md-5">
                    <label for="slider__button_link" class="form-label">Slider Button Link</label>
                    <input type="url" name="slider__button_link" id="slider__button_link" class="form-control"
                        placeholder="Enter Slider button Link" value="<%-result[0].slider_button_link%>">
                </div>
                <div class="col-md-11">
                    <label for="slider_dec" class="form-label">Slider Description</label>
                    <textarea name="slider_dec" id="editor" class="form-control" ><%-result[0].slider_description%></textarea>
                </div>
                <div class="col-md-10 mt-4 d-flex justify-content-center">
                    <button class="btn btn-primary px-4 py-2 fs-5 shadow">Save</button>
                </div>
            </div>
        </form>
    </div>
    <%-include('footer.ejs')%>